<div class="pong-game">
  {{#if this.winner}}
    <h1 class="white">Winner: {{this.winner}}</h1>
  {{else}}
    {{#if (not (eq this.status 0))}}
      <h1 class="white">{{this.status}}</h1>
    {{else}}
      <Ball @positionX={{this.ballPositionX}} @positionY={{this.ballPositionY}} />
    {{/if}}
    <Paddle @position={{this.leftPaddlePosition}} @side="paddle-left" />
    <Paddle @position={{this.rightPaddlePosition}} @side="paddle-right" />
  {{/if}}
</div>
