<div class="container-fluid row border">
  {{!-- Profile picture column (1 part) --}}
  <div class="col-5">
    
    <User @user={{this.gameData.player_1}} @selectUser={{this.args.selectUser}}/>
  </div>

  {{!-- Profile details column (3 parts) --}}
  <div class="col-2">
    <div class="waviy center"><span style="--i:1">{{this.gameData.left_score}}:{{this.gameData.right_score}}</span></div>
  </div>

  <div class="col-5">
    <User @user={{this.gameData.player_2}} @selectUser={{this.args.selectUser}}/>
  </div>
</div>
